body {
    background-color: #F7F6F2;
}

hr {
  border-color: white;
  border-style: dotted none none;
  width: 7%;
  border-width: 10px;

}

h1 {
  color: #4B6587;
}

h3 {

color: #4B6587;
}
